<footer>
    <nav>
        <a href="https://www.freecodecamp.org/jonathanlutabingwa"> freeCodeCamp | </a>
        <a href="https://www.codecademy.com/profiles/jonathanlutabingwa"> CodeAcademy | </a>
        <a href="https://www.linkedin.com/in/jonathan-lutabingwa/"> LinkedIn | </a>
        <a href="https://github.com/jtlutabingwa"> Jonathan Lutabingwa's Github | </a>
        <a href="https://webpages.charlotte.edu/jlutabin/"> Charlotte Webpage | </a>
        <a href="https://jtlutabingwa.github.io/"> Jonathan Lutabingwas Github.io | </a>
        <a href="https://jtlutabingwa.github.io/itis3135/"> Jonathan Lutabingwas ITIS3135 Website</a>
    </nav>
    <br>
    <div>
        <p>
            Page built by <a href="/itis3135/lutabingwagroupinc.com/index.html"><strong>Lutabingwa Group ©2025</strong></a>
            <a href="https://www.freecodecamp.org/certification/jonathanlutabingwa/responsive-web-design">Certified in Responsive Web Design</a><em>2025</em>
        </p>
    </div>  

    <div class="footer-validation">
        <p>
            <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
            <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
            </a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
            </a>
        </p>
    </div>
</footer>
